  .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  height: auto;
  
}
.sort{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:200px;
  height:700px;
}
.projects{
  display:flex;
  justify-content: center;
  align-items: center;
  width:800px;
  height: auto;
}